*{
	padding:0;
	margin:0;
	
}


.bg-custom{
/*	background-color: #d4742c;*/
background-color: #123456;
	color: #fff;
}

/*header*/
.header{
height:577px;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(im/jcb-back.jpg);	
background-size:cover;
background-position:center;
background-attachment:fixed;
padding-top:200px;
text-align:center;
color:#fff;
margin-top: 55px;
	
}
.header h1{
	padding-top:100px;
	padding-bottom:0;
	font-size:50px;
	
}


/*navbar toggler*/
#toggler_custom{
	outline: none;
}



 /* Scroll button */
#back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  background-color: #123;
  border-radius: 50%;
  outline: none;
  color: #fff;
  text-overflow: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);
  z-index: 9999;
}
.scroll .fa {
  color: #000;
}

div {
  overflow-x: hidden;
  overflow-y: hidden; /* Allow vertical overflow for the button */
}



 /*typin text*/
 #container {
  text-align: center;
}

#text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 60px;
  letter-spacing: 2px;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 60px;
  background-color: #fff;
  animation: blink .75s step-end infinite;
}

@keyframes blink {
  from, to { 
    background-color: transparent 
  }
  50% { 
    background-color: #fff; 
  }
}


/*about me*/
.aboutme{
  background-color: #dfdffc;
   box-sizing: border-box;

}

.aboutme h2{
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 40px;
}

.aboutme img{
  width: 100%; /* Make image responsive */
  max-width: 400px; /* Set max-width to avoid overflow */
  height: auto; /* Keep aspect ratio */
  margin-top: 40px;
  margin-bottom: 50px;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutme p{
  width: 100%
  max-width: 400px; /* Set max-width to avoid overflow */
  margin-top: 40px;
  margin-bottom: 50px;
  height: auto;
  padding: 40px;
  line-height: 29px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 20px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/*services*/
.services{
  background-color: #fff;
  padding-bottom: 70px;
}
.services h2{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.services h4{
  text-align: center;
  padding-bottom: 30px;
}

.services p{
  background-color: #dfdffc;
  padding: 40px;
  line-height: 30px;
  font-size: 15px;
  border-radius: 20px;
}


/*offer*/

.offer{
  background-color: #fff;
  padding-bottom: 70px;
}
.offer h2{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.offer h4{
  text-align: center;
  padding-bottom: 30px;
}

.offer p{
  background-color: #dfdffc;
  padding: 40px;
  line-height: 30px;
  border-radius: 20px;
  font-size: 15px;
}


/*Gallery*/

.gallery{
  background-color: #fff;
  padding-bottom: 70px;
}
.gallery h2{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.gallery h4{
  text-align: center;
  padding-bottom: 30px;
}

.gallery img{
  border: 2px solid black;
  border-radius: 20px;
  width: 300px; 
  height: 300px; 
  object-fit: cover; 
  margin-bottom: 15px;
  margin-left: 20px;
}



/*getintouch*/
.getintouch{
 color: #000;
  text-align: center;
  background-color: #dfdffc;
  width: 100%;
  padding-bottom: 20px;
}

.getintouch .row .col-md-4{
  margin: auto;
  text-align: center;
}
.getintouch h2{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.getintouch p{
  font-size: 14px;
  text-align: left;
  padding-right: 35px;
}

.getintouch p a:link{
  color: #000;
}

.getintouch p a:visited{
  color: #000;
}

.getintouch p a:hover{
  color: #000;
  text-decoration: underline;
}

.getintouch .row .fa{
  color: #000;
  padding-right: 30px;
  font-size: 15px;
}


/*footer*/
.footer{
  background-color: #123456;
  width: 100%;
  height: 60px;
  text-align: center;
  padding-top: 13px;
  color: #fff;
}
.footer p img{
  border: 2px solid black;
  border-radius: 50%;
  width: 30px; 
  height: 30px; 
  object-fit: cover; 
}

